/* .css file for special formatting for the sign out 
page which can be found in the out.html file */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set some base styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f1e7e7;
    background-color:  #222;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 24px;
}