/* poster css file for trending.html */
/* poster */
    #poster-container img {
    width: 210px;
    margin: 0 10px;
    }
    /* scroller */
    .movie-scroll-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin:10px;
    background-color: #333333;
    }
    /* bar scrolling color*/
    .movie-scroll-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    }
    .movie-scroll-container::-webkit-scrollbar-track {
    background-color: #333333;
    }
    .movie-scroll-container::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 8px;
    }